@{
    Layout = null;
}
@{
    var endTime = DateTime.UtcNow.AddSeconds(65);
    var timeRemaining = TimeSpan.FromTicks(endTime.Ticks - DateTime.UtcNow.Ticks).TotalSeconds.ToString("#");
}
<style>
    #imgdiv {
        text-align: left;
    }
</style>
<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport"> content="width=device-width" />*@
    <title> Test Your Emotional Intelligence</title>
</head>
<body>
   <h2>Emotional Intelligence Quiz</h2>
    <h3>How well do you read other people?</h3>
    <form asp-controller="Quizs" asp-action="submit">
        <div>Time Remaining<b>: <span id="minRemaining" /></b>m<b>: <span id="secRemaining" /></b>s</div>
        <ol type="1">
            @foreach (var question in ViewBag.Question)
            {
                <li>

                    @question.Content
                    <input type="hidden" name="QuestionID" , value="@question.ID" />
                    <div id="imgdiv">
                        @{
                            var base64 = Convert.ToBase64String(question.image);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                            <img src="@imgSrc" width="150" height="150">
                        }

                    </div>

                    <ol type="a">
                        @foreach (var answer in question.Answer)
                        {

                            <li>
                                <input type="radio" class="rb" id="testRadio" name="question_@question.ID" value="@answer.ID" />
                                @answer.Content
                            </li>

                        }
                    </ol>
                </li>
            }
        </ol>
        <input type="submit" value="Submit" />
    </form>

</body>
</html>

<script>

    var remSeconds = @timeRemaining;
    var secondsCounter = remSeconds % 60;

    function formatNumber(number) {
        if (number < 10) return '0' + number;
        else return '' + number;
    }
    function startTick() {

        document.getElementById('secRemaining').innerText = formatNumber(secondsCounter);
        document.getElementById('minRemaining').innerText = parseInt(formatNumber(remSeconds / 60));
         var _tick = setInterval(function () {

            if (remSeconds > 0) {
                remSeconds = remSeconds - 1;
                secondsCounter = secondsCounter - 1;

                document.getElementById('secRemaining').innerText = formatNumber(secondsCounter);
                document.getElementById('minRemaining').innerText = parseInt(formatNumber(remSeconds / 60));

                if (secondsCounter == 0)
                    secondsCounter = 60;
            }
            else {
                alert('Your test time has expired');
                document.write("Your test time has expired, try again!");
                clearInterval(_tick);
                 location.reload();
                
                
            }
               
        }, 1000);
    }
    startTick();
</script>
